NODE_ENV=development
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db_name
DATABASE_URL=postgresql://user:pass@localhost:5433/db_name

PORT=1119
JWT_ACCESS_SECRET=replace-with-at-least-32-characters-of-random-secret
