NODE_ENV=test
POSTGRES_USER=greenshop_test_user
POSTGRES_PASSWORD=greenshop_test_pass
POSTGRES_DB=greenshop_test
DATABASE_URL=postgresql://greenshop_test_user:greenshop_test_pass@localhost:5434/greenshop_test
PORT=1119
JWT_ACCESS_SECRET=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
